<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
{% load staticfiles %}
<title>WeeFree</title>
<script src="{% static 'jquery-1.11.0.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet.css' %}"/>
<script src="{% static 'leaflet.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet.markercluster.css' %}"/>
<link rel="stylesheet" href="{% static 'leaflet.markercluster.default.css' %}"/>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
<script src="{% static 'leaflet.markercluster.min.js' %}"></script>
<style>
    #map {height: 480px;}
    .wifree {background-image: url('/static/WeFree3.svg'); eight: 16px; width: 25px;}
</style>
{% block extrahead %}
{% endblock %}
</head>
<body role="document">
     <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="{% static 'WeFree1.svg' %}" height="30"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/crawl/">Crawl</a></li>
            <li><a href="https://github.com/gerasdf/wefree">Download</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container" role="main">
    {% block body %}
    {% endblock %}
    </div>
</body>
</html>
