{% extends "core/base.html" %}
{% load staticfiles %}

{% block extrahead %}
<script>
$(function(){
    var lat = 0;
    var lon = 0;
    map = L.map('map').setView([0, 0], 3);
    markers = new L.MarkerClusterGroup();
    icon = L.divIcon({className: 'wifree', iconSize: [25, 16] });
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);

    $.get("/get/?nonchunked=1", function(data) {
            aps = data;
            for (var i = 0; i <  aps.length; i++) {
                var ap = aps[i];
                if (ap.positions[0]) {
                    lat = ap.positions[0][0];
                    lon = ap.positions[0][1];
                    if(lat != null && lon !=null) {
                        markers.addLayer(
                            L.marker([lat, lon], {icon: icon})
							.bindPopup("<div class='wifree-ssid'>" + ap.essid + "</div><div class='wifree-passwd'>" + ap.passwords + "</div>")
                        );
                    }
                }
            }
            map.addLayer(markers);
        }, "json");

});
</script>
{% endblock %}
{% block body %}
    <div id="map"></div>
{% endblock %}

